<h1 class="my-5 text-center text-danger">Custom Directives in Angular</h1>
<h4>Custom directive example 1</h4>


<h1 class="my-5 text-center text-danger">Type of Directives in Angular</h1>
<div class="text-center mb-3">
  <img src="assets/directive-types.png" alt="directive types" class="img-fluid">
  <img src="assets/directive type-v2.png" alt="directive types" class="img-fluid">
  <img src="assets/Les-types-de-directives-dans-Angular.jpg" alt="directive types" class="img-fluid">
</div>

<h1 class="my-5 text-center text-danger">Angular Others Directives </h1>
<h1>NgNonBindable Directive</h1>
<div class="alert alert-success">
  <p>We use ngNonBindable when we want tell Angular not to compile, or bind, a particular section of our page.</p>
</div>
<div>
  To render the name variable we use this syntax <pre ngNonBindable>{{ name }}</pre>
</div>
