<h1 class="text-center text-primary my-5">Ng-if example </h1>

<h4>NgIf simple exemple</h4>
<ul *ngFor="let person of people">
  <li *ngIf="person.age < 30">
    {{ person.name }} ({{ person.age }})
  </li>
</ul>

<!--  -->
<div class="alert alert-danger">
  <p>We can’t have two structural directives, directives starting with a *, attached to the same element.</p>
  Plase check<a href="https://codecraft.tv/courses/angular/built-in-directives/ngif-and-ngswitch/"> this link </a> for more infos.
</div>
